<%- include('../partials/html-head') %>
  <%- include('../partials/nav') %>
    <main>
      <form id ="edit" action="/cocktails/<%=cocktail._id%>?_method=PUT" method="POST">
        <label>
          Name:
          <input type="text" name="name" autocomplete="off" value="<%= cocktail.name %> ">
        </label>

        <label>
          Method:
          <input type="text" name="method" autocomplete="off" value="<%= cocktail.method %> ">
        </label>
        <label>
          Garnish:
          <input type="text" name="garnish" autocomplete="off" value="<%= cocktail.garnish %> ">
        </label>
        <label>
          Served In:
          <input type="text" name="servedIn" autocomplete="off" value="<%= cocktail.servedIn %> ">
        </label>
        <label>
          image URL:
          <input type="text" name="image" autocomplete="off" value="<%= cocktail.image %> ">
        </label>

        <button type="submit">Edit</button>
      </form>

      <!-- ! EDIT INGREDIENTS -->

      <ul>
        <% cocktail.ingredients.forEach((ingredient, idx)=> { %>
          <li>
            <%= cocktail.amounts[idx] %>
              <%= ingredient.name %>
                <form action="/cocktails/<%=cocktail._id%>/ingredients/<%=idx%>?_method=DELETE" method="POST">
                  <button>X</button>
                </form>
          </li>
          <% }) %>
      </ul>

      <form id="add-per-to-ingredient" action="/cocktails/<%=cocktail._id%>/ingredients?_method=POST" method="post">
        <button type="submit">Add Ingredient</button>
        <select name="ingredientId">
          <% ingredientsNotInRecipe.forEach(ingredient=> { %>
            <option value="<%=ingredient._id%>">
              <%=ingredient.name%>
            </option>
            <% }) %>
        </select>
        <label>
          Amount:
          <input type="text" name="amount" autocomplete="off">
        </label>

      </form>

      <!-- ! END INGREDIENTS -->


      <!-- ? where want to add in editing for just Chris To edit -->






    </main>



    <%- include('../partials/footer') %>