<%- include('../partials/html-head') %>

  </head>

  <body>


    <nav class="nav">
      <header class="logo">
        <h3>Cocktail Foundations</h3>
      </header>

      <ul class="nav__links">
        <li>
          <a style="text-decoration: none" href="/cocktails">All Cocktails</a>
        </li>
        <li>
          <a style="text-decoration: none" href="/cocktails/new">Add Cocktail</a>
        </li>
        <li>
          <a style="text-decoration: none" href="/flashcards">Flashcards</a>
        </li>

      </ul>

      <div class="google_signIn">
        <% if (user) { %>
          <a href="/auth/logout">
            <button class="img-wrap" type="submit">
              <% if (user?.profile.avatar) { %>

                <img src="<%= user.profile.avatar %>" alt="user" />

                <% } %>
            </button>
          </a>

          <% } else { %>
            <a href="/auth/google">
              <button class="img-wrap" type="submit">
                <img src="/images/auth/google/google_G.png" alt="Logout">
              </button>
            </a>
            <% } %>
      </div>


    </nav>




    <!-- !Search Bar -->
    <section id="searchbar">
    <form class="search-bar" action="/cocktails/search" method="GET">
      <input id="search" class="form-control form-control-dark" type="search" name="name" placeholder="Search Cocktail..."
        value="<%=cocktails.name%>" autocomplete="off" />
        <button type="submit"><img src="/images/assets/search.png"></button>
    </form>
    <!-- !End Search Bar -->
    </section>


    <section>

      <% cocktails.forEach(cocktail=> { %>

        <div class="wrapper">
          <a style="text-decoration: none" href="/cocktails/<%=cocktail._id%>">
            <div class="card">
              <img src="<%=cocktail.image%>">
              <div class="info">
                <h1>
                  <%= cocktail.name %>
                </h1>
              </div>
            </div>
          </a>
        </div>

        <% }) %>


    </section>

    <%- include('../partials/footer') %>