<%- include('../partials/html-head') %>
  <%- include('../partials/nav') %>

    <section>

      <h1>Cocktails</h1>
      <ul>
        <% cocktails.forEach(cocktail=> { %>
          <li>
            <a href="/cocktails/<%=cocktail._id%>">
              <%= cocktail.name %>
            </a>
          </li>
          <% }) %>
      </ul>

    </section>

    <%- include('../partials/footer') %>