<%- include('../partials/html-head') %>
  <link id="favicon" rel="icon" href="images/Favicon_Martini_Glass.png" type="image/png" sizes="32x32">
  <link rel="stylesheet" href="/stylesheets/cards.css" />
  <%- include('../partials/nav') %>

    <!-- !Search Bar -->
      <!-- class = "col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" -->
      <form action="/cocktails/search" method="GET" class="">
        <input id="search" class="form-control form-control-dark" type="search" name="name" placeholder="Search name..."
          value="<%=cocktails.name%>" autocomplete="off" />
      </form>
      <!-- !End Search Bar -->

      <h1>Cocktails</h1>

      <% cocktails.forEach(cocktail=> { %>

        <div class="wrapper">
          <div class="card">
            <img src="/images/cocktails/cocktail_gin_tonic.png">
            <div class="info">
              <h1>
                <a href="/cocktails/<%=cocktail._id%>">
                  <%= cocktail.name %>
                </a>
              </h1>
            </div>
          </div>
        </div>

        <% }) %>


    </section>

    <%- include('../partials/footer') %>