<%- include('../partials/html-head') %>
  <link rel="stylesheet" href="/stylesheets/show.css" />
  <%- include('../partials/nav') %>

  <section class="cards">
    <!-- !Start of Card -->
    <section class="card">

      <!-- ? Image Container -->
      <div class="card__image" style="background-image:url('<%=cocktail.image%>')">
        
      </div>

      <!-- ? Content Container -->
      <div class="card__content">


        <h2 class="card__title">
          <%=cocktail.name%>
        </h2>


        <ul id="ingredients-id">
          <% cocktail.ingredients.forEach((ingredient, idx)=> { %>
            <li class="card__ingredients">
              <%= cocktail.amounts[idx] %>
                <%= ingredient.name %>
            </li>
            <% }) %>
        </ul>

        <h3 class="card__method">
          <%= cocktail.method %>
        </h3>

        <h3 class="card__garnish">Garnish: <%= cocktail.garnish %>
        </h3>

        <h3 class="card__served">Served in a <%= cocktail.servedIn %>
        </h3>


        

      </div>
      <!-- ! End of content -->

      <% if(cocktail.bartender?.name){ %>
        <h4 class="card__bartender"><%=cocktail.bartender.name%>
            </h4>
        <% } %>

              <!-- ? Adding a ? if cocktail.bartender does not exist. ABOVE -->

      
          <% if(cocktail.bartender?.equals(user?.profile._id)) {%>
          <form class="card__button" action="/cocktails/<%=cocktail._id%>/edit" method="get">
          <button id="edit-btn" type="submit">Edit</button>
          </form>
          <% } %>
     
      

    </section>
    <!-- ! End of Card -->
  </section>


    <%- include('../partials/footer') %>