<%- include('../partials/html-head') %>
<link id="favicon" rel="icon" href="images/Favicon_Martini_Glass.png" type="image/png" sizes="32x32">
<script defer src="./javascript/main.js"></script>
<link rel="stylesheet" href="/stylesheets/flashcards.css" />
<%- include('../partials/nav') %>



<main>
<% cocktails.forEach((cocktail,idx) => { %>
 
  <div id = "cocktail_0<%=idx%>" class="hidden">
    <div class="card">
      <img src="<%=cocktail.image%>">
      <div class="info">
        <h1>
          
            <%= cocktail.name %>
          
          
        </h1>
      </div>
    </div>
  </div>


<% }) %>
</main>
<section>
  <button class =""id="next-flashcard" type="submit">
    Next
  </button>
</section>
<section>
  <a href="/flashcards">
  <button class ="hidden" id="refresh"type="submit">
    Practice Again
  </button>
 </a>
</section>






<%- include('../partials/footer') %>